body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}



header{
    background-color: darkblue;

}


#oNumber{
    height: 91px;
   background-color: darkblue;
}
#out{
    height: 250px;
}

main{
    flex: 1;
    padding-bottom: 300px;
}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
footer{
background-color: darkblue;
    margin-top: auto;
} 